awscli
botocore
s3fs
beautifulsoup4
boto3>=1.25.0
dask
fsspec
joblib
geopandas
lxml
matplotlib
numba>=0.55
numpy
pandas>=1.1.0
Pillow
psutil
pyproj
pyarrow>=0.17.0
rasterio
rasterstats
requests
scipy
shapely
fastparquet